.david,
.paragraph {
  margin: 0;
  position: absolute;
  left: 0;
}
.david {
  top: 1.81rem;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.paragraph {
  top: 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-gray-400);
}
.apresentation {
  position: relative;
  width: 10.94rem;
  height: 5.44rem;
  flex-shrink: 0;
}
#hero-desc,
#hero-title {
  margin: 0;
  position: absolute;
  left: 0;
  display: inline-block;
}
#hero-desc {
  top: 10.88rem;
  line-height: 1.38rem;
  font-weight: 700;
  width: 22.88rem;
}
#hero-title {
  top: 0;
  font-size: var(--font-size-29xl);
  line-height: 3.31rem;
  font-weight: 800;
  font-family: inherit;
  color: var(--color-indianred-100);
  width: 30rem;
}
.about2 {
  position: relative;
  width: 30rem;
  height: 15rem;
  flex-shrink: 0;
  font-size: var(--font-size-sm);
}
.get-in-touch {
  margin: 0;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.button1 {
  cursor: pointer;
  width: 12.5rem;
  border: 0;
  padding: 18px 0px 18px 0px;
  background-color: var(--color-indianred-200);
  border-radius: var(--br-41xl);
  width: 12.5rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.content9 {
  position: absolute;
  top: 0.94rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.conteiner,
.content-icon {
  position: relative;
  flex-shrink: 0;
}
.conteiner {
  width: 30rem;
  height: 29rem;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content-icon {
  width: 35.38rem;
  height: 34.81rem;
  object-fit: cover;
}
.hero1 {
  position: absolute;
  top: 8rem;
  left: 7.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-131xl);
}
